<!--Изменения в шаблонах:-->
<!--В новый шаблон 'menu.html' перенесите меню выбора с главной страницы и сделайте этот шаблон родительским для остальных -->
<!--скопированных шаблонов.
В этом шаблоне написать блоки:-->
<!--a) pagename - в который будут передаваться заголовки страниц.-->
<!--b) menu - где будут написаны пункты вашего меню. Этот блок должен оставаться неизменным в шаблонах наследниках.-->
<!--c) content - где будет располагаться контент страницы-->
<!--Остальные шаблоны будут наследоваться при помощи extends от 'menu.html' и меняться будет только заголовок страницы и-->
<!--содержание, меню всегда будет одно и то же.-->



<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title%}{{title}}{% endblock %}</title>
</head>

<body>

    <header>
        {% block pagename%}
        <h1>{{text}}</h1>
        {% endblock %}
    </header>

    <menu>
        {% block menu %}
        <a href="http://127.0.0.1:8000/platform/">Главная</a>
        <p></p>
        <a href="http://127.0.0.1:8000/platform/games">Магазин</a>
        <p></p>
        <a href="http://127.0.0.1:8000/platform/cart">Корзина</a>
        {% endblock %}
    </menu>

    <main>
        {% block content %}
        {% endblock %}
    </main>

 </body>
</html>